registry=https://registry.npmjs.org/
network-timeout=100000
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
production=true
node-options=--max-old-space-size=16384
cache-min=3600